/* tags */

section {
	display: inline-block;
}

header {
 	display: flex;
 }



/* classes */ 

.logo {
	color: #0A1B32;
	font-family: 'Circular std', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: 160%; /* 48px */
	letter-spacing: -0.6px;
	margin-top: 37px;
	margin-left: 80px;
}

.logodot {
	color: #4F56F1;

}

.main-title {
	color: #1B0A42;
	font-family: 'Ramaraja', serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: 76px; /* 105.556% */
	letter-spacing: 1.44px;
	max-width: 495px;
	width: 100%;
	margin-left: 200px;
	margin-top: 203px;
}

.main-info {
	color: #9A9A9A;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 160% */
	letter-spacing: 0.4px;
	max-width: 583px;
	width: 100%;
	margin-left: 200px;
	margin-top: 10px;
}

.main-btn {
	color: #FFFFFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px; /* 200% */
	letter-spacing: 0.32px;
	width: 152px;
	height: 64px;
	flex-shrink: 0;
	border-radius: 6px;
	background: #4F56F1;
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 267px;
	border: none;
}

.menu-home {
	color: #1B0A42;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
	margin-left: 98px;
	margin-top: 48px;
}

.menu-about {
	color: #1B0A42;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
	margin-left: 38px;
	margin-top: 48px;
}

.menu-blog {
	color: #1B0A42;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
	margin-left: 38px;
	margin-top: 48px;
}

.menu-contact {
	color: #1B0A42;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
	margin-left: 38px;
	margin-top: 48px;
}

.menu-signin {
	color: #1B0A42;
	text-align: initial;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
	margin-left: 690px;
	margin-top: 48px;
	margin-right: 40px;
	width: 100%;
	white-space: nowrap;
}

.signup-btn {
		color: #FFFFFF;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; /* 200% */
		letter-spacing: 0.32px;
		width: 120px;
		height: 59.651px;
		flex-shrink: 0;
		border-radius: 6px;
		background: #4F56F1;
		margin-right: 68px;
		margin-top: 30px;
		margin-bottom: 96px;
		border: none;
}